@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css'); @font-face { font-family: 'KyoboHandwriting2020A'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff') format('woff'); font-weight: normal; font-style: normal; } 
* { margin: 0; padding: 0; box-sizing: border-box; list-style: none; /* font-family: 'Noto Sans KR' */ } 
body { background-color: #eff1f6; overflow-x: hidden;} 
.blind { display: none; } 
.clear { clear: both; } 
a:link, a:hover, a:visited, a:active { text-decoration: none; color: #6A6A7D; } 
a:hover { cursor: pointer; } 

header #top_nav { width: 100%; position: fixed; z-index: 5; height: 100px; background-image: url("../img/nav_back.png"); background-size: cover; /*box-shadow: 0px 2px 5px 1px rgba(131, 131, 131, 0.475); */ } 
header #top_nav ul { max-width: 1920px; min-width: 960px; height: 100px; /* position: relative; */ margin: 0 auto; /* display: flex; align-items: center; */ } 
header #top_nav ul li, #top_nav ul h1 { display: inline-block; line-height: 100px; } 
header #top_nav ul h1 { font-size: 40px; font-weight: 300; margin-left: calc(6.25% - 60px); margin-right: calc(14.6% - 80px); font-family: 'KyoboHandwriting2020A'; color: #575787; } 
header #top_nav ul li { font-family: 'NanumSquare'; font-style: normal; font-weight: 700; font-size: 24px; line-height: 27px; margin-right: calc(11.5% - 80px); color: #6A6A7D; } 

header #top_button { width: 4.8vh; position: fixed; bottom: 4.8%; right: 3.8%; z-index: 3; opacity: 0; transition: all 0.5s ease; } 
header #top_button:hover { cursor: pointer; } 
header #top_button img { width: 4.8vh; } 

#section0 #main_intro { max-width: 1920px; height: 1080px; position: relative; margin: 0 auto; padding-top: 100px; text-align: center; } 
#section0 #main_intro #two_section_wrap { max-width: 1520px; min-width: 1350px; height: 980px; margin: auto; } 
#section0 #main_intro #two_section_wrap #intro_section2 { width: 760px; height: 980px; position: relative; margin: 0 auto; display: inline-block; float: right; text-align: center; color: #707070; } 
#section0 #main_intro #two_section_wrap #intro_section1 { height: 980px; position: relative; margin: 0 auto; display: inline-block; float: left; text-align: center; color: #707070; } 
#section0 #main_intro #two_section_wrap #intro_section1 ul { margin: auto; } 
#section0 #main_intro #two_section_wrap #intro_section1 ul #main_title { margin-top: 300px; font-size: 160px; height: 160px; font-family: 'KyoboHandwriting2020A'; color: #575787; } 
#section0 #main_intro #two_section_wrap #intro_section1 ul #main_title #myo { color: #7777A8;}
#section0 #main_intro #two_section_wrap #intro_section1 ul #sub_title { width: 500px; margin: 66px auto 0 auto; font-size: 48px; font-family: 'KyoboHandwriting2020A'; color: #6A6A7D; } 
#section0 #main_intro #two_section_wrap #intro_section2 #image_show { position: relative; overflow: hidden; margin: 110px 0; width: 760px; height: 760px; } 
#section0 #main_intro #two_section_wrap #intro_section2 #image_show::after { position: absolute; display: block; content: ""; top: 0; left: -50px; width: 860px; height: 100%; box-shadow: inset 0px 0px 10px 20px #eff1f6; } 
#section0 #main_intro #two_section_wrap #intro_section2 #phone { position: absolute; top: 220px; left: 90px; z-index: 3; filter: drop-shadow( 0px 5px 5px rgba(0, 0, 0, 0.499)); } 
#section0 #main_intro #two_section_wrap #intro_section2 #image_show .tri_images { position: absolute; line-height: 0%; } 
#section0 #main_intro #two_section_wrap #intro_section2 #image_show .tri_images ul .random_image { width: 253px; height: 253px; display: inline-block; float: left; } 
#section0 #main_intro #two_section_wrap #intro_section2 #image_show .tri_images ul .random_image img { width: 253px; height: 253px; } 

#symbol_section { text-align: center; margin: 200px auto 100px auto;} 

#black_background_section { background-image: url("../img/black_background.png"); height: 420px; background-size: cover; text-align: center; font-family: 'NanumSquare'; font-style: normal; font-weight: 300; font-size: 40px; line-height: 60px; color: #FFFFFF; } 
#black_background_section div { position: relative; top: 155px; min-width: 1030px; } 

#video_section { position: relative; height: 2500px; background-size: cover; text-align: center; margin: 0 auto; } 
#video_section article { position: relative; height: 3022px; max-width: 1920px; background-size: cover; text-align: center; margin: 0 auto; } 
#video_section article video { box-shadow: 1px 1px 3px #000; width: 100%; max-width: 1520px;  } 
#video_section article #ad_title { position: absolute; top: 200px; left: 50%; transform: translate(-50%, 0%); font-family: 'NanumSquare'; font-style: normal; font-weight: 800; font-size: 36px; color: #7777A8; } 
#video_section article #ad_video { position: absolute; top: 300px; left: 50%; transform: translate(-50%, 0%); } 
#video_section article #intro_title { position: absolute; top: 1300px; left: 50%; transform: translate(-50%, 0%); font-family: 'NanumSquare'; font-style: normal; font-weight: 800; font-size: 36px; color: #7777A8; } 
#video_section article #intro_video { position: absolute; top: 1400px; left: 50%; transform: translate(-50%, 0%); } 

.purple_text { font-family: 'NanumSquare'; font-style: normal; font-weight: 400; font-size: 40px; color: #7777A8; } 
.purple_down_text { font-family: 'NanumSquare'; font-style: normal; font-weight: 400; line-height: 34px; font-size: 24px; color: #6A6A7D; } 

#draw_n_memory_section { position: relative; max-width: 1920px; min-width: 1440px; height: 1800px; margin: 0 auto; } 
#draw_n_memory_section img:first-child { position: absolute; top: 100px; left: 100px; } 
#draw_n_memory_section img:nth-child(2) { position: absolute; top: 600px; left: 330px; } 
#draw_n_memory_section img:nth-child(3) { position: absolute; bottom: 0; right: 480px; } 
#draw_n_memory_section img:nth-child(4) { position: absolute; bottom: 100px; right: 0px; margin-right: -772px; } 
#draw_n_memory_section img:nth-child(5) { position: absolute; bottom: 396px; left: calc(41.7% - 600px); z-index: 2; } 
#draw_n_memory_section img:nth-child(6) { position: absolute; bottom: 96px; left: calc(54% - 378px); z-index: 2; } 
#draw_n_memory_section img:nth-child(7) { position: absolute; top: 200px; right: calc(57% - 823px); z-index: 2; } 
#draw_n_memory_section #draw_n_memory_text1 { position: absolute; top: 400px; left: calc(41.7% - 600px); } 
#draw_n_memory_section #draw_n_memory_text2 { position: absolute; top: 475px; left: calc(41.7% - 600px); }
#draw_n_memory_section video{position: absolute; top: 200px; right: calc(57% - 823px); z-index: 3;}

#trade_section { position: relative; max-width: 1920px; min-width: 1440px; height: 1800px; margin: 400px auto 0 auto; } 
#trade_section img:first-child { position: absolute; bottom: 0; left: 380px; } 
#trade_section img:nth-child(2) { position: absolute; bottom: 400px; left: 160px; } 
#trade_section img:nth-child(3) { position: absolute; bottom: 300px; left: 460px; } 
#trade_section img:nth-child(4) { position: absolute; bottom: 200px; right: -220px; } 
#trade_section img:nth-child(5) { position: absolute; top: 304px; right: -200px; } 
#trade_section img:nth-child(6) { position: absolute; top: 0; left: calc(57% - 823px); } 
#trade_section img:nth-child(7) { position: absolute; top: 550px; right: calc(29.15% + 10px); } 
#trade_section img:nth-child(8) { position: absolute; top: 800px; right: calc(20.84% - 300px); } 
#trade_section #trade_text1 { position: absolute; top: 200px; left: calc(73% - 471px); } 
#trade_section #trade_text2 { position: absolute; top: 276px; left: calc(73% - 471px); } 

#chat_section { position: relative; max-width: 1920px; min-width: 1440px; height: 1214px; margin: 550px auto 0 auto; } 
#chat_section img:first-child { position: absolute; top: 430px; left: calc(41.7% - 497px); } 
#chat_section img:nth-child(2) { position: absolute; top: 0; right: calc(45.87% - 607px); } 
#chat_section #chat_text1 { position: absolute; top: 200px; left: calc(20.83% - 200px); } 
#chat_section #chat_text2 { position: absolute; top: 275px; left: calc(20.83% - 200px); } 

#info_section { position: relative; max-width: 1920px; min-width: 1440px; height: 1615px; margin: 600px auto 0 auto; } 
#info_section img:first-child { position: absolute; top: 300px; left: 580px; } 
#info_section img:nth-child(2) { position: absolute; top: 368px; right: -262px; } 
#info_section img:nth-child(3) { position: absolute; top: 0; left: calc(57% - 823px); } 
#info_section img:nth-child(4) { position: absolute; top: 520px; left: calc(62.5% - 340px); } 
#info_section img:nth-child(5) { position: absolute; bottom: 0; right: calc(16.7% - 240px); } 
#info_section #info_text1 { position: absolute; top: 200px; left: calc(73% - 471px); } 
#info_section #info_text2 { position: absolute; top: 275px; left: calc(73% - 471px); }

#design_concept_section { position: relative; width: 1520px; margin: 200px auto 0 auto; height: 920px; } 
#design_concept_section #design_concept_title { position: relative; margin-right: 100%; top: 0; width: 247px; height: 57px; font-family: 'NanumSquare'; font-style: normal; font-weight: 800; font-size: 50px; letter-spacing: 0.02em; color: #575787; } 
#design_concept_section #tabs_container { height: calc(100% - 57px); } 
#design_concept_section #tabs_container .tab_content { position: absolute; top: 240px; left: 384px; width: 1200px; height: 680px; opacity: 0; visibility: hidden; transition: all 1s ease;} 
#design_concept_section #tabs_container .tab_content.current{opacity: 1; visibility: visible; transition: all 1s ease;}
#design_concept_section #tabs_container #tabs .tab_link { position: absolute; left: 0; font-family: 'NanumSquare'; font-style: normal; font-weight: 800; font-size: 36px; letter-spacing: 0.02em; color: #9EA1B7; cursor: pointer; transition: all .5s ease; } 
#design_concept_section #tabs_container #tabs .tab_link.current {color: #575787; } 
#design_concept_section #tabs_container #tabs .tab_link:first-child { top: 257px; } 
#design_concept_section #tabs_container #tabs .tab_link:nth-child(2) { top: 398px; } 
#design_concept_section #tabs_container #tabs .tab_link:nth-child(3) { top: 539px; } 
#design_concept_section #tabs_container #tabs .tab_link:nth-child(4) { top: 680px; } 

#font_logo_section {  position: absolute; min-width: 1200px; height: 480px; font-family: 'NanumSquare'; margin: 0 auto; } 
#font_logo_section #font_logo_title { width: 384px; font-family: 'KyoboHandwriting2020A'; position: relative; top: 25px; height: 160px; font-style: normal; font-weight: 400; font-size: 160px; line-height: 100%; color: #575787; } 
#font_logo_section #font_logo_description { position: absolute; min-width: 1000px; top: 271px; font-family: 'NanumSquare'; font-style: normal; font-weight: 700; font-size: 24px; line-height: 45px; letter-spacing: 0.04em; color: #9EA1B7; } 

#font_section {  position: relative; min-width: 1200px; height: 480px; font-family: 'NanumSquare'; margin: 0 auto; } 
#font_section #font_wrap { position: relative; top: 0; max-width: 1200px; height: 480px; } 
#font_section #font_wrap #nanum_title { font-family: 'NanumSquare'; margin-bottom: 48px; font-style: normal; font-weight: 800; font-size: 48px; line-height: 54px; letter-spacing: 0.02em; color: #575787; } 
#font_section #font_wrap #nanum_description { font-family: 'NanumSquare'; margin-bottom: 100px; font-style: normal; font-weight: 700; font-size: 36px; line-height: 41px; letter-spacing: 0.3em; color: rgba(87, 87, 135, 0.5); } 
#font_section #font_wrap #kyobo_title { font-family: 'KyoboHandwriting2020A'; margin-bottom: 50px; font-style: normal; font-weight: 400; font-size: 48px; line-height: 61px; letter-spacing: 0.02em; color: #575787; } 
#font_section #font_wrap #kyobo_description { font-family: 'KyoboHandwriting2020A'; margin-bottom: 100px; font-style: normal; font-size: 36px; line-height: 46px; letter-spacing: 0.3em; color: rgba(87, 87, 135, 0.5); } 
#font_section #font_wrap #font_description { font-family: 'NanumSquare'; font-style: normal; font-weight: 700; font-size: 24px; line-height: 45px; letter-spacing: 0.04em; color: #9EA1B7; } 

#icon_section { position: relative; max-width: 1520px; min-width: 800px; height: 680px; font-family: 'NanumSquare'; margin: 0 auto; } 
#icon_section #icons { position: relative; max-width: 1000px; } 
#icon_section #icons img { margin: 5px; width: 140px; } 

#color_section { position: relative; max-width: 1520px; min-width: 1160px; height: 680px; font-family: 'NanumSquare'; margin: 0 auto; } 
#color_section article { position: relative; min-width: 1160px; height: 680px; top: 0; } 
#color_section article img:first-child { position: absolute; width: 301px; left: 0px; /* left: 810px; */ transition: all .5s ease-in-out; z-index: 3; } 
#color_section article img:nth-child(3) { position: absolute; width: 301px; left: 0px; /* left: 810px; */ transition: all .7s ease; z-index: 2; } 
#color_section article img:nth-child(5) { position: absolute; width: 301px; left: 0px; /* left: 1240px; */ transition: all 1s ease; z-index: 1; } 
#color_section article div:nth-child(2) { position: absolute; top: 350px; left: 95px; font-family: 'NanumSquare'; font-style: normal; font-weight: 700; font-size: 24px; line-height: 27px; letter-spacing: 0.04em; color: #4C4C79; opacity: 0; transition: all 1s ease; } 
#color_section article div:nth-child(4) { position: absolute; top: 350px; left: 525px; font-family: 'NanumSquare'; font-style: normal; font-weight: 700; font-size: 24px; line-height: 27px; letter-spacing: 0.04em; color: #7777A8; opacity: 0; transition: all 1s ease; } 
#color_section article div:nth-child(6) { position: absolute; top: 350px; left: 955px; font-family: 'NanumSquare'; font-style: normal; font-weight: 700; font-size: 24px; line-height: 27px; letter-spacing: 0.04em; color: #9EA1B7; opacity: 0; transition: all 1s ease; } 
#color_section article #sec7_null { position: absolute; top: 400px; } 

#mockup{height: 920px; background-color: #e7ebed; text-align: center;}

footer { position: relative; height: 300px; background-color: #7777A8; color: #fff; } 
footer #footer_wrap { position: relative; max-width: 1920px; min-width: 960px; height: 300px; margin: 0 auto; font-family: 'NanumSquare'; font-style: normal; } 
footer #footer_wrap #person1 { position: relative; top: 70px; display: inline-block; margin-left: calc(10.4% - 100px); } 
footer #footer_wrap #person2 { position: relative; top: 70px; display: inline-block; margin-left: calc(11.5% - 100px); } 
footer #footer_wrap #person3 { position: relative; top: 70px; display: inline-block; margin-left: calc(16.7% - 150px); } 
footer #footer_wrap .letme li { font-weight: 400; font-size: 16px; line-height: 36px; margin-bottom: 0px; } 
footer #footer_wrap .letme li:first-child { position: relative; left: 0; font-weight: 700; font-size: 32px; line-height: 36px; margin-bottom: 30px; } 
footer #footer_wrap #footer_logo { position: relative; top: -104px; right: 0px; margin-right: calc(20.8% - 200px); font-weight: 400; font-size: 64px; color: #EFF1F5; text-align: right; font-family: 'KyoboHandwriting2020A'; } 
footer #footer_wrap #school { position: relative; bottom: 66px; right: 0px; margin-right: calc(20.8% - 200px); font-weight: 400; font-size: 20px; text-align: right; line-height: 30px; } 